div{
    position: relative;
    background-color: brown;
}

p{position: absolute;
    top: 50% ;
    left: 35%;
    transform translate: (-50px -50px) ;
}
p {
    font-size: 70px; 
}

.ss {
    font-size: 80px; 
}

    
    


.ss{
    font-size: 100px;
    position: absolute;
}



.a1 {
    text-align: center;
    padding: 20px;
    background-color: white;
    
}

.a1 h3 {
    font-size: 100px;
    margin-bottom: 10px
}
.a2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.s {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    max-width: 1200px;
    width: 100%;
}


.s div {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.s img {
    width: 150%;
    height: auto;
    display: block;
    border-radius: 5px;
}


.s span {
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    text-transform: capitalize;
}
